:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
* a {
  text-decoration-color: black;
  text-decoration: none;
  transition: color 0.3s;
}
* a:link {
  color: black;
}
* a:active {
  color: black;
}
* a:visited {
  color: black;
}
* a:focus {
  color: black;
}
* a:hover {
  color: #b60a0a;
}
* h1 {
  font-size: 5rem;
}
* h2 {
  font-size: 3rem;
}
* div {
  font-size: 2rem;
}

.btn,
#btn-envoyer {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  height: 3rem;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  background-image: radial-gradient(circle, #f0e6ef 20%, #cfc4e0 77%);
  background-size: 300%;
  background-position: left;
  transition: background-image 1s;
}
@media only screen and (max-width: 580px) {
  .btn,
#btn-envoyer {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }
}
.btn:hover,
#btn-envoyer:hover {
  cursor: pointer;
  background-position: right 200px;
  color: black;
  transform: scale(1.01);
  opacity: 0.9;
  transition-property: transform, opacity;
  transition-duration: 1s, 1s;
}

.gras {
  font-weight: bold;
}

html,
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 985px) {
  .container {
    width: 95vw;
  }
}
@media only screen and (max-width: 580px) {
  .container {
    width: 95vw;
  }
}

.mise-en-page-produit {
  display: flex;
  border: solid 0.5px black;
  margin-bottom: 1rem;
  border-radius: 2rem;
  background-color: #f0e6ef;
}
@media only screen and (max-width: 580px) {
  .mise-en-page-produit {
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.mise-en-page-produit .produit_photo {
  order: 0;
  align-self: stretch;
}
@media only screen and (max-width: 580px) {
  .mise-en-page-produit .produit_photo {
    align-self: center;
  }
}
.mise-en-page-produit .produit_photo img {
  vertical-align: bottom;
  width: 30rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 2rem;
  box-shadow: 0px 1px 12px 2px rgba(0, 0, 0, 0.63);
}
.mise-en-page-produit .produit {
  order: 1;
  margin-left: 2rem;
  margin-top: 1rem;
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-row-gap: 1rem;
  grid-template-areas: "header header" "produit_photo produit" "footer footer";
}

header {
  grid-area: header;
}
header h1 {
  text-align: center;
}
@media only screen and (max-width: 580px) {
  header h1 {
    font-size: 3rem;
  }
}
header .menu {
  background-color: #f0e6ef;
  border-radius: 2rem;
  border: 1px black solid;
}
header .menu .container-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
@media only screen and (max-width: 580px) {
  header .menu .container-flexbox {
    flex-direction: column;
    padding-bottom: 1rem;
  }
}
header .menu img {
  order: 0;
  max-width: 20rem;
  border-radius: 2rem;
  margin-left: 1rem;
}
header .menu ul {
  order: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header .menu ul li {
  margin-right: 3rem;
  margin-left: 3rem;
}

.produit {
  grid-area: produit;
}

.produit_photo {
  grid-area: produit_photo;
}

footer {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  border: 1px black solid;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  background-color: #f0e6ef;
  grid-area: footer;
  text-align: center;
}
footer ul {
  display: flex;
}
footer ul li {
  padding: 1rem;
}
footer .copyright {
  padding-bottom: 1rem;
}

.option_produit_mise_en_page {
  height: 150px;
}
.option_produit_mise_en_page .page-produit-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #f0e6ef;
  padding-top: 1rem;
}
.option_produit_mise_en_page .page-produit-form .label-option_produit label {
  margin-right: 3.3rem;
}
.option_produit_mise_en_page .page-produit-form select {
  font-size: 2rem;
  padding-left: 1rem;
}

.grid-panier {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  grid-template-areas: "header" "container-produits-panier" "footer";
}

#container-produits-panier {
  grid-area: "container-produits-panier";
  display: flex;
  flex-direction: column;
  min-width: 80vw;
  justify-content: center;
  border-radius: 2rem;
}
#container-produits-panier .container-recapitulatif {
  background-color: #f0e6ef;
  border: 1px black solid;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
}
#container-produits-panier .container-recapitulatif div .prix-produit {
  align-self: center;
}
#container-produits-panier .container-recapitulatif div:nth-child(2) {
  flex-basis: auto;
  display: flex;
  width: auto;
  padding-left: 1rem;
}
#container-produits-panier .container-recapitulatif div:nth-child(2) span {
  align-self: center;
  margin-right: 0.3rem;
}

.btn-supprimer {
  padding: 0.8rem;
  border-radius: 2rem;
  transition: background-color 0.8s;
}
.btn-supprimer:hover {
  background-color: rgba(255, 0, 0, 0.459);
  cursor: pointer;
}

.btn-tous-supprimer-panier {
  display: flex;
  justify-content: center;
  height: 0 rem;
  margin-bottom: 2rem;
  padding: 0;
}
.btn-tous-supprimer-panier button {
  margin: 0;
  font-size: 2rem;
}

.container-montant-total {
  background-color: #d48114;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 3rem;
}

.affichage-prix-html {
  border: 1px black solid;
  border-radius: 2rem;
  background-color: #f0e6ef;
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
}

#formulaireCommande {
  border: 1px black solid;
  background-color: #f0e6ef;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

#formulaireCommande form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#formulaireCommande form label {
  padding: 1rem;
}
#formulaireCommande form input {
  width: 80%;
  padding: 1rem;
  font-size: 2rem;
}
#formulaireCommande form textarea {
  width: 80%;
  font-size: 2rem;
  font-family: "Open Sans";
}
#formulaireCommande form .infoChampManquant {
  color: red;
  font-weight: 900;
  padding-bottom: 1rem;
}
#formulaireCommande form #envoyerFormulaire {
  padding: 1rem;
  border-radius: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  background-image: radial-gradient(circle, #f0e6ef 20%, #cfc4e0 77%);
  background-size: 300%;
  background-position: left;
  transition: background-image 1s;
}
#formulaireCommande form #envoyerFormulaire:hover {
  cursor: pointer;
  background-position: right 200px;
  color: black;
  transform: scale(1.01);
  opacity: 0.9;
  transition-property: transform, opacity;
  transition-duration: 1s, 1s;
}

.grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-row-gap: 1rem;
  grid-template-areas: "header " "produit_photo " "footer ";
}

#container-recapitulatif-commande {
  width: 80vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: solid 0.5px black;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  background-color: #f0e6ef;
}
@media only screen and (max-width: 985px) {
  #container-recapitulatif-commande {
    width: 95vw;
  }
}

.recapCommande p:nth-child(1) {
  color: red;
  font-weight: 900;
  font-size: 2rem;
}
.recapCommande p {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
