@import "./media";
@import "./variables";
@import "./mixins.scss";

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;

  a {
    text-decoration-color: black;
    text-decoration: none;
    transition: color 0.3s;

    &:link{
      color: black;
    }

    &:active {
      color: black;
    }
    &:visited {
      color: black;
    }
    &:focus {
      color: black;
    }
    &:hover {
      color: rgb(182, 10, 10);
    }
  }

  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  div {
    font-size: 2rem;
  }
}

.btn , #btn-envoyer{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  height: 3rem;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;

  background-image: radial-gradient(
    circle,
    rgba(240, 230, 239, 1) 20%,
    rgba(207, 196, 224, 1) 77%
  );
  background-size: 300%;
  background-position: left;
  transition: background-image 1s;

  @include smartphone-btn;

  &:hover {
    cursor: pointer;
    // background: linear-gradient(90deg, rgba(240,230,239,1) 20%, rgba(207,196,224,1) 77%);
    background-position: right 200px;

    color: black;

    transform: scale(1.01);
    opacity: 0.9;

    transition-property: transform, opacity;
    transition-duration: 1s, 1s;
  }
}

html,
body {
  font-family: "Open Sans", sans-serif;
}

//-------------------------début Mise en place de la grille index.html------------------
.container {
  width: 80vw;
  margin: auto;
  display: flex;
  @include tailleIntermediaire-container;
  @include smartphone-container;
  // border: 1px red solid;
}

.mise-en-page-produit {
  display: flex;
  border: solid 0.5px black;
  margin-bottom: 1rem; //espacement entre produit
  border-radius: 2rem;
  background-color: $couleurOrinoco;
  // height: 20rem;
  @include smartphone-mise-en-page-produit;

  .produit_photo {
    order: 0;

    align-self: stretch;
    @include smartphone-produit_photo;

    img {
      vertical-align: bottom;
      width: 30rem;
      height: 20rem;
      object-fit: cover;
      // object-position: bottom right;

      border-radius: 2rem;
      box-shadow: 0px 1px 12px 2px rgba(0, 0, 0, 0.63);
    }
  }

  .produit {
    order: 1;
    margin-left: 2rem;
    margin-top: 1rem;
    @include smartphone-produit;
  }
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-row-gap: 1rem;
  grid-template-areas:
    "header header"
    "produit_photo produit"
    "footer footer";
}

header {
  grid-area: header;

  h1 {
    text-align: center;
    @include smartphone-h1;
  }

  .menu {
    background-color: $couleurOrinoco;
    border-radius: 1rem;
    border: 1px black solid;

    .container-flexbox {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      @include smartphone-header;
    }

    img {
      order: 0;
      max-width: 20rem;
      border-radius: 1rem;
    }
    ul {
      order: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      li {
        margin-right: 3rem;
        margin-left: 3rem;
      }
    }
  }
}

.produit {
  grid-area: produit;
}

.produit_photo {
  grid-area: produit_photo;
}

footer {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  border: 1px black solid;
  height: auto;
  // margin: auto;

  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;

  ul {
    display: flex;
    li {
      padding: 1rem;
    }
  }

  .copyright{
    padding-bottom: 1rem;
  }

  background-color: $couleurOrinoco;
  grid-area: footer;
  text-align: center;
}

//------------------------------fin de la mise en place de la grille index.html

//******************************PRODUIT HTML-----------------------------------


.option_produit_mise_en_page { 
  // border: 1px black solid;
  height: 150px;
  
  
  
  

  .page-produit-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: $couleurOrinoco;
    padding-top: 1rem;

    .label-option_produit{
      // background: red;
      label{
        margin-right: 3.3rem;
      }
    }

    .label-quantite_produit{
      // background: orange;
      
    }

    select{        
      font-size: 2rem;
      padding-left: 1rem;
     }   
  }
}



//------------------------------PRODUIT HTML FIN-------------------------------

//******************************PANIER HTML-------------------------------------
.grid-panier {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  grid-template-areas:
    "header"
    "container-produits-panier"
    "footer";
}

#container-produits-panier {
  grid-area: "container-produits-panier";
  display: flex;
  flex-direction: column;
  min-width: 80vw;

  justify-content: center;
  border: 2px solid black;

  div {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.container-recapitulatif {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 3rem;
}

.container-montant-total {
  background-color: rgb(212, 129, 20);
  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 3rem;
}



//-----------------------------PANIER HTML FIN---------------------------------

//*******************************FORMULAIRE ENVOIE COMMANDE*********************

#formulaireCommande {
  border: 2px black solid;
  background-color: beige;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  background-color: chartreuse;
  // align-items: center;
  // align-content: center;
  text-align: center;
}

// form {
//   // background-color: cadetblue;
//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   input {
//     background-color: coral;
//     width: 80vw;
//   }

//   .infoChampManquant {
//     color: rgb(255, 238, 0);
//     font-weight: 900;
//   }

//   textarea {
//     background-color: crimson;
//     width: 80vw;
//   }
// }

//************************confirmation-commande---------------
.gras {
  font-weight: 900;
}

#container-recapitulatif-commande {
  width: 80vw;
  border: 1px solid black;
  padding-bottom: 1rem;
}

.recapCommande {
  p:nth-child(1) {
    color: red;
    font-weight: 900;
    font-size: 2rem;
  }

  p {
    text-align: center;
  }
}
